<ion-header> 
  <ion-toolbar>
    <ion-thumbnail style="margin-left: 15px; "slot="start">
      <img src="\assets\icon\icon.png">
    </ion-thumbnail>
   <ion-title slot="start" style="color:#fd8469" ><h1>NEWS</h1></ion-title>
    <!-- <ion-searchbar slot="start" (ionChange)="search_faq(faq,child,$event)" #search class="searchbar" debounce="250"></ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content 
        pullingIcon="refersh-outline">
      </ion-refresher-content>
    </ion-refresher>

  <ion-row>
    <ion-col *ngIf="is_load">
      <h3 style="padding-left: 16px; margin-top: 20px; text-align: center; color:black"> Loading...</h3>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let tmp of data1">
    <ion-img (click)="openimage(tmp.image) "src="{{tmp.image}}"></ion-img>
    <ion-card-header>
        <ion-card-title style="white-space: normal; ">{{tmp.title}}</ion-card-title>
      <ion-card-subtitle style="white-space: normal;">By {{tmp.author}} / at {{tmp.time}} on {{tmp.date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{tmp.content}}
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle class="link" ><span (click)="runbrowser(tmp.link)">Click to see full story </span><ion-icon name="open-outline"></ion-icon> </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText='<h4 style="text-align: center; color:#fd8469"> Loading..</h4>'>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>